:host { 
  display: contents; 
}
.block-info-ca-block-info-ca {
  display: flex;
  position: relative;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.block-info-ca-root-class-name {
  margin-bottom: var(--dl-space-space-unit);
}
