<div class="infos-produit-panier-infos-produit-panier">
  <div class="infos-produit-panier-group13923">
    <span class="infos-produit-panier-text">
      <span>Nom produit</span>
      <br />
    </span>
    <span class="infos-produit-panier-text03">{{ text }}</span>
  </div>
  <div class="infos-produit-panier-container">
    <span class="infos-produit-panier-text04">{{ text1 }}</span>
    <div class="infos-produit-panier-get-started">
      <span class="infos-produit-panier-text05">{{ text2 }}</span>
    </div>
    <div
      data-thq="thq-dropdown"
      class="infos-produit-panier-thq-dropdown list-item"
    >
      <div
        data-thq="thq-dropdown-toggle"
        class="infos-produit-panier-dropdown-toggle"
      >
        <span class="infos-produit-panier-text06">{{ text3 }}</span>
        <div
          data-thq="thq-dropdown-arrow"
          class="infos-produit-panier-dropdown-arrow"
        >
          <svg viewBox="0 0 1024 1024" class="infos-produit-panier-icon">
            <path d="M426 726v-428l214 214z"></path>
          </svg>
        </div>
      </div>
      <ul
        data-thq="thq-dropdown-list"
        class="infos-produit-panier-dropdown-list"
      >
        <li
          data-thq="thq-dropdown"
          class="infos-produit-panier-dropdown list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="infos-produit-panier-dropdown-toggle1"
          >
            <span class="infos-produit-panier-text07">{{ text4 }}</span>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="infos-produit-panier-dropdown1 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="infos-produit-panier-dropdown-toggle2"
          >
            <span class="infos-produit-panier-text08">{{ text5 }}</span>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="infos-produit-panier-dropdown2 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="infos-produit-panier-dropdown-toggle3"
          >
            <span class="infos-produit-panier-text09">{{ text6 }}</span>
          </div>
        </li>
        <li
          data-thq="thq-dropdown"
          class="infos-produit-panier-dropdown3 list-item"
        >
          <div
            data-thq="thq-dropdown-toggle"
            class="infos-produit-panier-dropdown-toggle4"
          >
            <span class="infos-produit-panier-text10">{{ text7 }}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
