<div class="vendeur-page-container">
  <section class="vendeur-page-hero">
    <header-vendeur rootClassName="header-root-class-name8"></header-vendeur>
    <span class="vendeur-page-text">
      <span>Liste des produits disponibles</span>
      <br />
    </span>
  </section>
  <section class="vendeur-page-features">
    <infos-prod-vendeur></infos-prod-vendeur>
  </section>
  <div class="vendeur-page-container1">
    <h1>Ajouter un produit</h1>
    <form-add-produit></form-add-produit>
  </div>
  <app-footer rootClassName="footer-root-class-name17"></app-footer>
</div>
