:host { 
  display: contents; 
}
.infos-prod-vendeur-infos-prod-vendeur {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.infos-prod-vendeur-image {
  flex: 0.4;
  width: var(--dl-size-size-xsmall);
  align-self: center;
  object-fit: cover;
}
.infos-prod-vendeur-group13923 {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 1;
  flex-direction: column;
}
.infos-prod-vendeur-text {
  color: rgb(30, 30, 30);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.infos-prod-vendeur-text3 {
  color: rgb(30, 30, 30);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.infos-prod-vendeur-container {
  gap: var(--dl-space-space-halfunit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.infos-prod-vendeur-text4 {
  color: rgb(30, 30, 30);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
.infos-prod-vendeur-get-started {
  flex: 1;
  color: white;
  width: auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: 18px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 18px;
  justify-content: flex-start;
  background-color: #000000;
}
.infos-prod-vendeur-get-started:hover {
  color: black;
  background-color: #ffffff;
}
.infos-prod-vendeur-text5 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
.infos-prod-vendeur-navlink {
  display: contents;
}
.infos-prod-vendeur-get-started1 {
  flex: 1;
  color: white;
  width: auto;
  cursor: pointer;
  display: flex;
  position: relative;
  transition: 0.3s;
  align-items: center;
  padding-top: 18px;
  padding-left: 32px;
  border-radius: 56px;
  padding-right: 32px;
  flex-direction: column;
  padding-bottom: 18px;
  justify-content: flex-start;
  text-decoration: none;
  background-color: #000000;
}
.infos-prod-vendeur-get-started1:hover {
  color: black;
  background-color: #ffffff;
}
.infos-prod-vendeur-text6 {
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .infos-prod-vendeur-group13923 {
    flex: 1;
    align-self: center;
    align-items: center;
    padding-bottom: 21px;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .infos-prod-vendeur-group13923 {
    padding-bottom: var(--dl-space-space-unit);
  }
}
