<div class="infos-commande-infos-commande">
  <div class="infos-commande-group13923">
    <span class="infos-commande-text">
      <span>idCommande</span>
      <br />
    </span>
    <span class="infos-commande-text3">{{ text }}</span>
    <span class="infos-commande-text4">{{ text1 }}</span>
  </div>
  <div class="infos-commande-container">
    <span class="infos-commande-text5">{{ text2 }}</span>
    <a routerLink="/command-detail" class="infos-commande-navlink">
      <div class="infos-commande-get-started">
        <span class="infos-commande-text6">{{ text3 }}</span>
      </div>
    </a>
  </div>
</div>
