<div class="client-page-container">
  <section class="client-page-hero">
    <app-header rootClassName="header-root-class-name1"></app-header>
    <h1 class="client-page-text">
      <span class="client-page-text1">Commander</span>
      <br />
      <br />
    </h1>
    <div class="client-page-dashboard-preview">
      <div class="client-page-outline">
        <img
          alt="pastedImage"
          src="https://images.unsplash.com/photo-1586999768265-24af89630739?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDI2fHxyZXN0YXVyYW50fGVufDB8fHx8MTY4NTIyMzU2MHww&amp;ixlib=rb-4.0.3&amp;w=1400"
          loading="lazy"
          class="client-page-image"
        />
      </div>
    </div>
  </section>
  <section class="client-page-features">
    <div class="client-page-title">
      <span class="client-page-text4">
        <span class="client-page-text5">Restaurants à proximité</span>
        <br />
      </span>
      <span class="client-page-text7">
        Choisissez parmi l&apos;offre de restaurants proposés
      </span>
    </div>
    <a transitionTo="/magasin-page" class="client-page-navlink">
      <restaurant-block class="client-page-component1"></restaurant-block>
    </a>
  </section>
  <app-footer rootClassName="footer-root-class-name"></app-footer>
</div>
