<div class="commande-dispo-commande-dispo">
  <div class="commande-dispo-group13923">
    <span class="commande-dispo-text">
      <span>Nom client</span>
      <br />
    </span>
    <span class="commande-dispo-text3">{{ text }}</span>
    <span class="commande-dispo-text4">{{ text1 }}</span>
  </div>
  <div class="commande-dispo-container">
    <span class="commande-dispo-text5">{{ text2 }}</span>
    <a routerLink="/monitoring-livraison" class="commande-dispo-navlink">
      <div class="commande-dispo-get-started">
        <span class="commande-dispo-text6">{{ text3 }}</span>
      </div>
    </a>
  </div>
</div>
