:host { 
  display: contents; 
}
.detail-commande-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.detail-commande-page-hero {
  flex: 0.6;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.detail-commande-page-text {
  color: var(--dl-color-gray-white);
  font-size: 56px;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-weight: 700;
  line-height: 72px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.detail-commande-page-features {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-sevenunits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
@media(max-width: 1200px) {
  .detail-commande-page-text {
    color: var(--dl-color-gray-white);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
  }
}
@media(max-width: 991px) {
  .detail-commande-page-hero {
    height: 60%;
    padding-left: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .detail-commande-page-text {
    font-size: 36px;
    line-height: 40px;
  }
  .detail-commande-page-features {
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .detail-commande-page-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .detail-commande-page-text {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .detail-commande-page-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .detail-commande-page-hero {
    padding-bottom: 160px;
  }
  .detail-commande-page-features {
    padding-top: 43px;
  }
}
