<div class="magasin-page-container">
  <app-header rootClassName="header-root-class-name11"></app-header>
  <div class="magasin-page-magasin">
    <div class="magasin-page-container1">
      <div class="magasin-page-container2">
        <infos-magasin></infos-magasin>
        <div class="magasin-page-home-order">
          <span class="magasin-page-text">Commander maintenant</span>
        </div>
      </div>
      <div class="magasin-page-cards">
        <div class="magasin-page-home-cards">
          <div class="magasin-page-home-card">
            <infos-produit></infos-produit>
          </div>
          <a transitionTo="/delivery" class="magasin-page-navlink">
            <order-btn class="magasin-page-component4"></order-btn>
          </a>
        </div>
      </div>
    </div>
  </div>
  <app-footer rootClassName="footer-root-class-name10"></app-footer>
</div>
