<div class="historique-commande-page-container">
  <section class="historique-commande-page-hero">
    <app-header rootClassName="header-root-class-name5"></app-header>
    <span class="historique-commande-page-text">
      <span>Historique des commandes</span>
      <br />
    </span>
  </section>
  <section class="historique-commande-page-features">
    <infos-commande></infos-commande>
    <infos-commande></infos-commande>
  </section>
  <app-footer rootClassName="footer-root-class-name7"></app-footer>
</div>
