<div class="monitoring-page-add-container">
  <div class="monitoring-page-add-container1">
    <header-admin rootClassName="header-admin-root-class-name"></header-admin>
  </div>
  <div class="monitoring-page-add-container2">
    <form-add-client></form-add-client>
    <form-add-vendeur></form-add-vendeur>
    <form-add-livreur></form-add-livreur>
  </div>
  <div class="monitoring-page-add-container3">
    <form-add-produit></form-add-produit>
    <form-add-magasin></form-add-magasin>
  </div>
  <app-footer rootClassName="footer-root-class-name12"></app-footer>
</div>
