:host { 
  display: contents; 
}
.header-admin-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  background-color: rgba(153, 153, 153, 0);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
.header-admin-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  border-top-left-radius: 18;
  border-top-right-radius: 18;
  border-bottom-left-radius: 18;
  border-bottom-right-radius: 18;
}
.header-admin-icon {
  width: auto;
  height: var(--dl-size-size-medium);
}
.header-admin-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.header-admin-accordion-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-admin-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.header-admin-accordion-content {
  display: flex;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s ease-in-out;
  align-items: center;
  flex-direction: column;
}
.header-admin-nav1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-admin-root-class-name {
  background-color: var(--dl-color-gray-white);
}
.header-admin-root-class-name1 {
  background-color: var(--dl-color-gray-white);
}
@media(max-width: 991px) {
  .header-admin-nav1 {
    padding-top: 16px;
  }
}
@media(max-width: 767px) {
  .header-admin-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-admin-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .header-admin-nav {
    display: none;
  }
  .header-admin-icon2 {
    display: flex;
  }
}
@media(max-width: 479px) {
  .header-admin-header {
    padding: var(--dl-space-space-unit);
  }
  .header-admin-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
