<div class="form-add-vendeur-form-add-vendeur">
  <form [formGroup]="addVendeurForm" class="form-add-vendeur-form">
    <input
      formControlName="nom"
      type="text"
      [attr.placeholder]="textinput_placeholder"
      class="input"
    />
    <input
      formControlName="prenom"
      type="text"
      [attr.placeholder]="textinput_placeholder1"
      class="input"
    />
    <input
      formControlName="motdepasse"
      type="password"
      [attr.placeholder]="textinput_placeholder2"
      class="input"
    />
    <input
      formControlName="confmdp"
      type="password"
      [attr.placeholder]="textinput_placeholder3"
      class="input"
    />
    <input
      formControlName="adresse"
      type="text"
      [attr.placeholder]="textinput_placeholder4"
      class="input"
    />
    <input
      formControlName="email"
      type="email"
      [attr.placeholder]="textinput_placeholder5"
      class="input"
    />
    <input
      formControlName="magasin_id"
      type="number"
      [attr.placeholder]="textinput_placeholder6"
      class="input"
    />
    <div (click)="onClick()" class="form-add-vendeur-get-started">
      <span class="form-add-vendeur-text">
        <span>Ajouter vendeur</span>
        <br />
      </span>
    </div>
  </form>
</div>
