<div class="monitoring-page-read-container">
  <div class="monitoring-page-read-container1">
    <header-admin rootClassName="header-admin-root-class-name1"></header-admin>
  </div>
  <h1 class="monitoring-page-read-text">Magasins</h1>
  <div class="monitoring-page-read-blog">
    <info-mag-admin></info-mag-admin>
  </div>
  <h1 class="monitoring-page-read-text1">Clients</h1>
  <div class="monitoring-page-read-blog1">
    <infos-cli-admin></infos-cli-admin>
  </div>
  <h1 class="monitoring-page-read-text2">Livreurs</h1>
  <div class="monitoring-page-read-blog2">
    <info-livr-admin></info-livr-admin>
  </div>
  <h1 class="monitoring-page-read-text3">Vendeurs</h1>
  <div class="monitoring-page-read-blog3">
    <info-vend-admin></info-vend-admin>
  </div>
  <app-footer rootClassName="footer-root-class-name13"></app-footer>
</div>
