<div class="info-livraison-en-cours-info-livraison-en-cours">
  <div class="info-livraison-en-cours-group13923">
    <span class="info-livraison-en-cours-text">
      <span>Nom client</span>
      <br />
    </span>
    <span class="info-livraison-en-cours-text3">{{ text }}</span>
    <span class="info-livraison-en-cours-text4">{{ text1 }}</span>
  </div>
  <div class="info-livraison-en-cours-container">
    <span class="info-livraison-en-cours-text5">{{ text2 }}</span>
    <div class="info-livraison-en-cours-get-started">
      <span class="info-livraison-en-cours-text6">{{ text3 }}</span>
    </div>
  </div>
</div>
