<div class="profile-page-container">
  <section class="profile-page-hero">
    <app-header rootClassName="header-root-class-name19"></app-header>
  </section>
  <div class="profile-page-container1">
    <img
      alt="image"
      src="/assets/%5Bcitypng.com%5Dwhite%20user%20member%20guest%20icon%20png%20image%20-%204000x4000-200h.png"
      class="profile-page-image"
    />
    <h1 class="profile-page-text">{{user.nom_client}} {{user.prenom_client}}</h1>
  </div>
  <div class="profile-page-container2">
    <edit-profil-btn></edit-profil-btn>
    <order-history-btn></order-history-btn>
  </div>
  <app-footer rootClassName="footer-root-class-name15"></app-footer>
</div>
