<section class="infos-commande-active-infos-commande-active">
  <div class="infos-commande-active-information">
    <div class="infos-commande-active-group13923">
      <span class="infos-commande-active-text">
        <span>idCommande</span>
        <br />
      </span>
      <span class="infos-commande-active-text03">{{ text }}</span>
      <span class="infos-commande-active-text04">{{ text1 }}</span>
    </div>
    <div class="infos-commande-active-container">
      <span class="infos-commande-active-text05">{{ text2 }}</span>
    </div>
  </div>
  <div class="infos-commande-active-etat">
    <div class="infos-commande-active-group139231">
      <span class="infos-commande-active-text06">
        <span>Statut commande</span>
        <br />
      </span>
    </div>
    <div class="infos-commande-active-container1">
      <span class="infos-commande-active-text09">{{ text3 }}</span>
    </div>
  </div>
</section>
