<div class="infos-magasin-infos-magasin">
  <div class="infos-magasin-title">
    <span class="infos-magasin-text">{{ magasin.nom_magasin }}</span>
    <span class="infos-magasin-text1 Subheading"><span>{{magasin.adresse_magasin}}</span></span>
  </div>
  <div class="infos-magasin-home-cta">
    <div class="infos-magasin-frame1">
      <div class="infos-magasin-frame2">
        <span class="infos-magasin-text3">{{ magasin.description }}</span>
      </div>
      <img
        [attr.alt]="Imgpop_alt"
        [attr.src]="Imgpop_src"
        class="infos-magasin-imgpop"
      />
    </div>
  </div>
</div>
